/*////////////// Fonts //////////////*/
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 a {
	font-family: 'Libre Baskerville', serif;
	color:rgb(152,173,166);
	font-size: 60px;
  font-weight: bold;
	text-decoration: none;
}

h1 a:hover {
	color:#606060;
}

img {
	border:5px solid rgb(152,173,166);
}
